    li {
        float:left;
    }
    li a{
        margin: 0 0;
        padding: 15px 100px;
        background-color: darkgray;
        text-decoration: none;
        color: black;
        display: block;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px
    }
    li a.logo{
        font-size: 39px;
        padding:  2px 80px;
        overflow:hidden;
    }
    li.menu a:hover:not(.active_screen):not(.logo){
        background-color: rgb(142, 179, 78);
    }
    ul.menu {
        text-align: center; 
        top: 0;
        left: 0;
        float: left;    
        margin: 0 0;
        padding: 0;
        list-style: none;
        /*position: fixed;*/
        overflow: hidden;
        width: 100%;
    }
    .active_screen{
        background-color: gray;
    }
    .contents{
            margin-top: 8vh;
            height: 100%;
    }
    #menu_div{
        height: 49px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: darkgray;
    }
    body{
            background-color: gray;
    }